@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post_list {
  margin-top: 30px;
  min-height: 100vh;
}

.post {
  background-color: #282828;
  width: 30%;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 1px 1px #252525;
}

.post p {
  color: #eee;
}

.center {
  text-align: center;
}

fieldset {
  border-color: rgba(101, 119, 134, 0.5) !important;
}

:root {
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

.title{
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
  padding: 20px;
  border-radius: 1rem;
  text-transform: uppercase;
  animation: flicker 1.5s infinite alternate;
  width: 30%;
  margin: 10px auto;
}

.title::-moz-selection, .neon::-moz-selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.title::selection .neon::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

.title:focus .neon:focus {
  outline: none;
}

.neon {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
  animation: text-neon 1.5s infinite alternate;
  margin: 10px auto;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      text-shadow:
          -0.2rem -0.2rem 1rem #fff,
          0.2rem 0.2rem 1rem #fff,
          0 0 2rem var(--neon-text-color),
          0 0 4rem var(--neon-text-color),
          0 0 6rem var(--neon-text-color),
          0 0 8rem var(--neon-text-color),
          0 0 10rem var(--neon-text-color);
      box-shadow:
          0 0 .5rem #fff,
          inset 0 0 .5rem #fff,
          0 0 2rem var(--neon-border-color),
          inset 0 0 2rem var(--neon-border-color),
          0 0 4rem var(--neon-border-color),
          inset 0 0 4rem var(--neon-border-color);
  }
  20%, 24%, 55% {
      text-shadow: none;
      box-shadow: none;
  }
}

@keyframes text-neon {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      text-shadow:
          -0.2rem -0.2rem 1rem #fff,
          0.2rem 0.2rem 1rem #fff,
          0 0 2rem var(--neon-text-color),
          0 0 4rem var(--neon-text-color),
          0 0 6rem var(--neon-text-color),
          0 0 8rem var(--neon-text-color),
          0 0 10rem var(--neon-text-color);
  }
  20%, 24%, 55% {
      text-shadow: none;
      box-shadow: none;
  }
}
